
.summary {
 background-color:darkcyan;
 padding:10px
}

.education {
background-color:darkcyan;
 padding:10px
}
.WorkExperience{
background-color:darkcyan;
 padding:10px
}
.Activities {
  
}
.info {
    background-color:green
  text-align:left;
    font-size:20
}